*{

    border: solid 1px;
    margin: 0;
    padding: 0;

}

body{

   min-height: 100vh;
   display: flex;
   flex-direction: column;
    
}

header{
    
    height: 100px;
    background-color: brown;
   

}

#main-header h1{

    font-family: Helvetica, sans-serif;
    font-size: 50px;
    color: brown;
    background-color: aqua;
    max-width: 300px;
    margin-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    
}

#navi{
    border: none;
    position: absolute;
    right: 8%;
    top: 30px;

}

#navi ul{

    border: none;
    list-style-type: none;
  
    margin-bottom: 20px;
    
}

#navi ul li{
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    display: inline;
    float: right;
    padding: 10px;
    text-decoration: underline solid rgb(24, 179, 0) 5px;
   
    

}

#navi ul li a{
    border: none;
    color: rgb(24, 179, 0);
}


main{
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
    min-height: 80vh;
   

}

.content-card-big{


}

.image-1{
    border: solid 7px blueviolet;
    width: 1110px;
    height: 570px;
    opacity: 0.7;

}


.content-card-big h1{
    border: none;
    background-color: blueviolet;
    max-width: 200px;
    height: 50px;
    text-align: center;
    position: relative;
    top: -67px;
    right: -6px;
    
}

.content-card-big p{
    border: none;
    background-color: blueviolet;
    max-width: 200px;
    height: 28px;
    text-align: center;
    position: relative;
    top: -84px;
    right: -6px;
    
}
.content-card-big:hover .image-1 {
    opacity: 1;
    border: solid 7px rgb(8, 209, 68);
  }

aside {
    flex: 1;
    background-color: #b9c6ae;
    padding: 80px;
    text-align: left;
  }

footer{

  background-color: blueviolet;
  height: 50px;
  bottom: 0;

}