:root {
    --middleBlue: #7DBBC3;
    --teaGreen: #DAEDBD; 
    --spanishPink: #F4B9B2;
    --middleYellowRed: #E5B181; 
    --burntSienna: #DE6B48;
  }
  

#navbarBasicExample{
    background-color: var(--middleBlue);
}

#sec-1{
    background-color: var(--teaGreen);
}

#sec-2{
    background-color: var(--spanishPink); 
}

#sec-3{
    background-color: var(--middleYellowRed);
}
