*{

    border: solid 1px;

}

body{

   min-height: 100vh;
    
}

header{

    background-color: brown;
   

}

#navi ul{

    list-style-type: none;
  
    margin-bottom: 20px;
    
}

#navi ul li{

    display: inline;
    float: right;
    

}


main{
    background-color: black;
    color: aliceblue;
    min-height: 80vh;
   

}

aside{

   

}

footer{

  height: 50px;

}